<form action="/manufacturer/add" method="post">
   <h1>Add new manufacturer</h1>
   Manufacturer name: <input type="text" name="name" id="" required>
   <br><br>
   Manufacturer year: <input type="text" name="year" id="" required>
   <br><br>
   Manufacturer image: <input type="url" name="image" id="" required>
   <br><br>
   <input type="submit" value="Add">
</form>